.title {
    font-size:small;
    background-color: lightgray;
}
.button-instock {
    background-color: lightgray;
    border-radius: 5px;
    padding: 3px 3px 3px 3px;
}

.button-shipping {
    background-color: lavender;
    border-radius: 5px;
    padding: 3px 3px 3px 3px;
}